* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    height: 100vh;
    background-color: #dedede;
    padding: 20px;
}

#container {
    padding: 20px;
    width: 85%;
    max-width: 1000px;
    max-height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

h1,
h3 {
    text-align: center;
}

img {
    max-width: 100%;
    margin-bottom: 10px;
}

div.card {
    padding: 10px;
    margin: 20px;
    background-color: #ffffff;
    width: calc((100% / 3) - 40px);
    text-align: center;
    cursor: pointer;
}

.cardName {
    font-weight: 700;
}